@import "tailwindcss";

@theme {
  --font-IRANSans: "IRANSans";
  --font-yekan: "IRANYEKAN";
  --breakpoint-sm: 320px;
  --breakpoint-md: 481px;
  --breakpoint-lg: 601px;
  --breakpoint-xl: 769px;
  --breakpoint-2xl: 1025px;
  --breakpoint-3xl: 1281px;
  --breakpoint-4xl: 1441px;

  --container-sm: 318px;
  --container-md: 480px;
  --container-lg: 600px;
  --container-xl: 768px;
  --container-2xl: 1024px;
  --container-3xl: 1280px;
  --container-4xl: 1440px;
}
/* @font-face {
  font-family: IRANYEKAN;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../../public/fonts/IRANYEKANMEDIUM.TTF") format("TTF");
} */
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("../../public/fonts/IRANSansWeb.ttf") format("ttf");
}
body {
  background: oklch(0.97 0.001 106.424);
}

.p-6 {
  padding: 6px;
}
.backdrop {
  background: rgba(162, 153, 153, 0.77);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
