@import "tailwindcss";

@theme {
  --font-yekan: "IRANYEKAN";
}
@font-face {
  font-family: IRANYEKAN;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../../public/fonts/IRANYEKANREGULAR.TTF") format("TTF");
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
.p-6 {
  padding: 6px;
}
