@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-IRANSans: "IRANSans";
  --font-yekan: "IRANYEKAN";
  --breakpoint-sm: 320px;
  --breakpoint-md: 481px;
  --breakpoint-lg: 601px;
  --breakpoint-xl: 769px;
  --breakpoint-2xl: 1025px;
  --breakpoint-3xl: 1281px;
  --breakpoint-4xl: 1441px;

  --container-sm: 318px;
  --container-md: 480px;
  --container-lg: 600px;
  --container-xl: 768px;
  --container-2xl: 1024px;
  --container-3xl: 1280px;
  --container-4xl: 1440px;
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("../../public/fonts/IRANSansWeb.ttf") format("ttf");
}

.p-6 {
  padding: 6px;
}
.backdrop {
  background: rgba(162, 153, 153, 0.77);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.shareProduct {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  font-size: 14px;
}
.activeUserDashboardLink {
  background-color: oklch(92.5% 0.084 155.995);
  color: oklch(52.7% 0.154 150.069);
}
.orderDetails {
  @apply flex items-center gap-x-2 2xl:gap-x-5 [&>div]:flex [&>div]:items-center [&>div]:gap-x-2 text-[10px] 2xl:text-sm;
}
.order-detail__label-text {
  @apply text-gray-500 dark:text-gray-300;
}
.check-comment {
  @apply items-center 2xl:gap-x-1.5 2xl:p-2 rounded-lg mt-3 flex  2xl:text-sm text-[8px] gap-x-2 p-1;
}
.profile-content-box {
  @apply flex flex-col gap-y-8 bg-white w-full rounded-lg dark:bg-zinc-800 dark:text-white  2xl:w-3/4 p-3;
}
.swal-title {
  font-size: 1.25rem; /* پیش‌فرض دسکتاپ */
}

.swal-popup {
  padding: 1.5rem;
}

@media (max-width: 640px) {
  .swal-title {
    font-size: 0.8rem !important;
  }
  .swal2-confirm {
    font-size: 0.8rem !important;
  }
  .swal-popup {
    width: 60% !important;
    padding: 1rem !important;
  }
}

/* dashboard scrollbar styles: */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #14ef14;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #abec83;
}
.edit-profile-input {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.dashboard-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
